<!DOCTYPE html>
<html lang="<%= locale() %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= gettext "Play memory/concentration game with friends over the Internet without registration" %>">
    <meta name="author" content="Max Gorin">
    <meta content='/images/landing.jpg' property='og:image'>
    <title><%= gettext "Concentration game: multiplayer and registration-free" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body>
    <div id="main" class="container <%= if assigns[:full_width], do: "container--full-width" %>">
      <%= if assigns[:mini_header] do %>
        <header class="header clearfix">
          <h4>
            <%= link to: "/#{locale()}" do %>
              <img class="header-logo--sm" src="/images/owl.svg" alt="pairs one logo"/>
              Pairs One
            <% end %>
          </h4>
        </header>
      <% else %>
        <header class="header clearfix">
          <div class="news-bar" data-news-id=1>
            <% url = link to: "https://t.me/pairsone" do %>
              <%= img_tag "https://telegram.org/img/t_logo.png", width: 15, alt: gettext("Telegram channel"), class: "telegram-logo" %>
              <%= gettext("Telegram channel") %><% end %>
            <%= raw gettext "Telegram channel newsbar", link: url |> safe_to_string %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h1 class="title centered-content">
                <img class="header-logo--lg" src="/images/owl.svg" alt="pairs one logo"/>
                Pairs One
              </h1>
            </div>
            <div class="col-sm-6"><h2><%= gettext "Concentration game: multiplayer and registration-free" %></h2></div>
          </div>
          <h3><%= gettext "Unload your mind while improving your memory" %></h3>
        </header>
      <% end %>

      <div class="<%= if assigns[:full_width], do: "container--full-width" %>">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :warning) %></p>
        <%= render @view_module, @view_template, assigns %>
      </div>

      <div class="footer">
        <div class="col-md-3 col-md-push-9 footer__lang">
          <select name="language" id="language">
            <%= for {code, name} <- lang_select_options() do %>
              <option value="<%= code %>" <%= if locale() == code do "selected" end %>><%= name %></option>
            <% end %>
          </select>
        </div>
        <div class="text-muted col-md-9 col-md-pull-3">
          © <%= DateTime.utc_now.year %>
          <%= link "Max Gorin", to: "https://twitter.com/mxgrn" %>
          <%= link to: "https://github.com/mxgrn/pairs.one" do %>
            <span class="fa fa-github"></span>
            <%= gettext "Source code" %>
          <% end %>
          <%= link to: "https://github.com/mxgrn/pairs.one#translating-game-into-other-languages" do %>
            <span class="fa fa-globe"></span>
            <%= gettext "Help with translation" %>
          <% end %>
        </div>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if Application.get_env(:pairs_one, :ga) do %>
      <%= render "ga.html" %>
    <% end %>
  </body>
</html>
