<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= gettext "Play memory/concentration game with friends over the Internet without registration" %>">
    <meta name="author" content="Max Gorin">
    <meta content='/images/landing.jpg' property='og:image'>
    <title><%= gettext "Registration-free multiplayer Memory game" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body>
    <div id="main" class="container">
      <%= if assigns[:mini_header] do %>
        <header class="header clearfix">
          <h4 class="pull-left">
            <%= link to: "/" do %>
              <img class="header-logo--sm" src="/images/owl.svg" alt="pairs one logo"/>
              Pairs One
            <% end %>
          </h4>
          <%= if assigns[:show_new_link] do %>
            <h4 class="pull-right">
              <%= link gettext("New game"), to: game_path(@conn, :new), class: "btn btn-default" %>
            </h4>
          <% end %>
        </header>
      <% else %>
        <header class="header clearfix">
          <h1 class="pull-left title">
            <%= link to: "/" do %>
              <img class="header-logo--lg" src="/images/owl.svg" alt="pairs one logo"/>
              Pairs One
            <% end %>
          <small> <%= gettext "Registration-free multiplayer Memory game" %></small></h1>
        </header>
      <% end %>

      <div class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :warning) %></p>

          <%= render @view_module, @view_template, assigns %>

      </div>

      <div class="footer row">
        <div class="col-md-6 col-md-push-6 footer__lang">
          <select name="language" id="language" onchange="">
            <%= for {code, name} <- lang_select_options do %>
              <option value="<%= code %>" <%= if locale == code do "selected" end %>><%= name %></option>
            <% end %>
          </select>
        </div>
        <div class="text-muted col-md-6 col-md-pull-6">
          © <%= DateTime.utc_now.year %>
          <%= link "Max Gorin", to: "https://twitter.com/mxgrn" %>
          <a href="mailto:gorinme@gmail.com?subject=We have a project for you">
            <span class="fa fa-envelope"></span>
            <%= gettext "Hire me" %>
          </a>
          <%= link to: "https://github.com/mxgrn/pairs.one" do %>
            <span class="fa fa-github"></span>
            <%= gettext "Source code" %>
          <% end %>
        </div>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= unless @conn.host == "localhost" do %>
      <%= render "ga.html" %>
    <% end %>
  </body>
</html>
