.chat {
  /* margin-top: 20px; */
}

h4.chat-title {
  margin: 0;
  padding: 0;
}

.chat-history {
  overflow: scroll;
  padding: 8px;
  height: 300px;
  border: 1px lightgrey solid;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  margin: 3px;
  padding: 2px;
}

.message span {
  /* padding: 2px 5px; */
  border-radius: 3px;
}

.own-message {
  text-align: right;
}

.own-message span {
  /* background-color: #d0f0d0; */
}

.opponent-message {
  text-align: left;
}

.opponent-message span {
  color: #60d;
  /* background-color: #e0f0f0; */
}

.input-group--name{
  margin-bottom: 20px;
  width: 100%;
}

.chat-message--own {
  width: 100;
  text-align: right;
  color: #666;
}

.chat-message--foreign {
  background-color: #f3f3f3;
  padding: 5px;
}
